.header {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  /*box-sizing: border-box;*/
  background-color: #D2D7DF;
  margin: 0px;
  padding: 18px 50px;
  padding-left:150px;
  position:fixed;
  overflow-y: hidden;
  top: 0;
  width: 100%;
  height:170px;
  z-index: 999;
}

.headersmall {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 25px 25px;
  position: fixed;
  top: 165px;
  left: 185px;
}

#tid{
  display: none;
}

#clear{
  background-color: #FFF;
}
.hidden{
  visibility: hidden;
}

#fade{
  font-size: 16px;
  color: #818181;
  line-height:1px;
}

#info{
  text-align: left;
}

#right{
  text-align:right;
  color:blue;
}

#tight{
  width: 10%;
}

table {
  height: 40%;
  left: 10%;
  margin: 45px 200px auto;
  margin-top: 240px;
  position: static;
  width: 80%;
  height:60%;
  table-layout:fixed;
}

thead th {
  background: #D2D7DF;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #D2D7DF;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  width: 33.3333%;
}

td {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

td > span {
  font-family: 'Lato',sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #D2D7DF;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 200px;
  font-family: 'Lato', sans-serif;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #F18F01;
}

.button {
  background: #F18F01;
  color: #FFF;
  font-weight:bolder;
}